{% extends 'TSKUserBundle::layout.html.twig' %}

{% block head_script %}
<script src="/bundles/sonatajquery/jquery-1.8.3.js" type="text/javascript"></script>
<script src="/bundles/sonatajquery/jquery-ui-1.8.23.js" type="text/javascript"></script>
<script src="/bundles/sonatajquery/jquery-ui-i18n.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>})}}"
<script type="text/javascript" src=" {{ asset('bundles/documentcloud/underscore/underscore.js') }}"></script>
<script type="text/javascript" src=" {{ asset('bundles/jkbr/rrule/rrule.js') }}"></script>
<script type="text/javascript" src=" {{ asset('bundles/jkbr/rrule/nlp.js') }}"></script>
<script type="text/javascript">
$(function () {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
	
    $('#calendar-holder').fullCalendar({
        header: {
            left: 'prev, next, foo',
            center: 'title',
            right: 'month,agendaWeek,agendaDay,'
        },
        editable: true,
        lazyFetching:false,
        weekends: true,
        firstDay: 1,
        firstHour: 9,
        defaultView: 'agendaWeek',
        timeFormat: {
            // for agendaWeek and agendaDay
            agenda: 'h:mmt', // 5:00 - 6:30
            // for all other views
            '': 'h:mmt'            // 7p
        },
        eventSources: [{
            url: Routing.generate('fullcalendar_loader'), 
            type: 'POST',
            error: function() {
                //alert('There was an error while fetching Google Calendar!');
            }
        }],
        eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
            $.ajax({
                url: Routing.generate('tsk_schedule_scheduleinstance_drag', {id: event.id, dayDelta: dayDelta, minuteDelta: minuteDelta, isAllDay: (allDay) ? 1 : 0 }),
                cache: false,
                success: function(data) {
                    alert('Your event was moved!');
                }
            });
        },
        eventResize: function(event,dayDelta,minuteDelta,revertFunc,jsEvent,ui,view) {
            $.ajax({
                url: Routing.generate('tsk_schedule_scheduleinstance_resize', {id: event.id, dayDelta: dayDelta, minuteDelta: minuteDelta }),
                cache: false,
                type: 'POST',
                success: function(data) {
                    alert('Your event was resized!');
                }
            });
        },
        eventClick: function(calEvent, jsEvent, view) {
            // alert('Event: ' + calEvent.title);
            // modal window
            // console.log(calEvent);
            $.ajax({
                url: Routing.generate('tsk_schedule_scheduleinstance_detail', {id: calEvent.id }),
                cache: false,
                success: function(data) {
                    $('#myModalLabel').html(calEvent.title);
                    $('#calModal .modal-body').html(data);
                    $('#calModal').modal({keyboard: true});
                    $('#calModal').modal('show');
                }
            });
            // $('#calModal').modal({
            //     remote: Routing.generate('tsk_schedule_scheduleinstance_detail', {id: calEvent.id }),
            //     keyboard: true
            // });
            // $('#calModal').modal('show');
        },
        eventMouseover: function(event, jsEvent, view) {
            $(this).css('border-color', '#000');
        },
        eventMouseout: function(event, jsEvent, view) {
            $(this).css('border-color', '#fff');
        }

    });
});
</script>

<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
<style type="text/css">
#calendar-holder {
    width: 800px;
    margin: auto;
}
</style>

{% endblock head_script %}

{% block foot_script %}
<!-- howdy -->
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
     
    {% javascripts
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}

{% block content %}
        {% for key, message in app.session.flashbag.all() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div>
            {% block fos_user_content %}
                {% include 'ADesignsCalendarBundle::calendar.html.twig' %}

<!-- Modal -->
<div id="calModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

            {% endblock fos_user_content %}
        </div>
{% endblock content %}


