{% extends 'MopaBootstrapBundle::base.html.twig' %}

    {% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets filter='less,cssrewrite'
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
    %}  
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}  
    {% endblock head_style %}


{% block title %}TSK :: App{% endblock %}
{% block page_header %}<br/><br/><br/>{% endblock %}

    {% block navbar %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true } %}
                {% block menu %}
                    {{ mopa_bootstrap_menu('TSKUserBundle:Builder:mainMenu') }}
                    {{ mopa_bootstrap_menu('TSKUserBundle:Builder:rightSideMenu') }}
                {% endblock %}
            {% endembed %}
        {% endif %}
    {% endblock navbar %}

{% block content %}

        {% for key, message in app.session.flashbag.all() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock content %}


    {% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
     
    {% javascripts
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

    <script src="{{ asset('bundles/sonataadmin/x-editable/js/bootstrap-editable.min.js') }}"></script>

<script type="text/javascript">
</script>

{% endblock foot_script %}



{% block footer %}
        <p>&copy; <a href="http://tsk.com" target="_blank">TSK</a> 2013</p>
{% endblock footer %}
