{% extends 'FOSUserBundle::layout.html.twig' %}

    {% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}

<style type="text/css">
div.permbit {
    border: 1px solid black;
    width: 80px;
    float: left;
}
div.permbits {
    border: 1px solid red;
    width: 800px;
    float: right;
}
div.permbits label.checkbox {
    border: 2px solid blue;
    width: 90px;
    margin-right: 4px;
    padding: 4px;
    background-color: #ccc;
    float: left;
}
div.permbits label.checkbox > input[type="checkbox"] {
    margin: 0;
    padding: 0;
}
div.collection-item {
    border: 1px solid black;
}
div.control-group {
    overflow: auto;
}
label.permbit  {
    border: 2px solid black;
    width: 80px;
    float: left;
    margin: 4px;
    padding: 0;
    text-align: center;
}
label.permbit.optional  {
    width: 120px;
}
label.permbit > h4 {
    text-align: center;
    margin: 0;
    background-color: #aaa;
    padding: 2px;
}
label.permbit > label > p {
    text-align: center;
    padding: 6px;
}
label.permbit input[type="checkbox"] {
    float: none;
    margin-left: 0;
    padding-top: 0 !important;
}
label.permbit input[type="checkbox"]:first-child {
}
label.perm-collection {
    display: none;
}
label.permbit.checkbox:first-child {
    padding-top: 0;
}
</style>
    {% endblock head_style %}

{% block content %}
<h1>Permission</h1>

<form method="post" {{ form_enctype(form) }}>
    {{ form_row(form.permissionType) }}
    {{ form_row(form.identity) }}
    <div id="permissions">

    </div>
    {{ form_rest(form) }}
    <p>
        <button type="submit">Save Permissions</button>
    </p>
</form>

{% endblock %}

{% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
{# vendor//sonata-project/jquery-bundle/Sonata/jQueryBundle/Resources/public/jquery-1.8.0.js 

        'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
        '@SonatajQueryBundle/Resources/public/jquery-1.8.0.js'
#}
    {% javascripts
        'bundles/twbs/bootstrap/js/tests/vendor/jquery.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    // Populate this on load ...
    var it = $($('#permission_identity').find(":selected")).parents('optgroup').attr('label');
    $('#permission_identity_type').val(it);

    $('#tsk_permission_set_identity').change(function() {
        if (this.value) {
            $('#tsk_permission_set_identityType').val($(this).find('option:selected').parent().attr('label'));
                $.post(Routing.generate('tsk_user_get_permissions', {}), $('form').serialize(), function(data) {
                    $('#permissions').empty();
                    $('#permissions').html(data);
                });
        }
    });

    $('#tsk_permission_set_permissionType').change(function() {
        if (this.value) {
            $.post(Routing.generate('tsk_user_get_permissions', {}), $('form').serialize(), function(data) {
                $('#permissions').empty();
                $('#permissions').html(data);
            });
        }
    });
});
</script>

{% endblock foot_script %}
